rapport/article/*
!rapport/article/*.pdf
!rapport/article/*.tex
!rapport/article/Makefile

rapport/projet/*
!rapport/projet/*.pdf
!rapport/projet/*.tex
!rapport/projet/Makefile

src/main
src/.frama-c/*
rapport/main.toc
rapport/main.synctex.gz
rapport/main.out
rapport/main.log
rapport/main.fls
rapport/main.blg
rapport/main.fdb_latexmk
rapport/main.bbl
rapport/main.aux
